header {
  margin: 0px;
  padding: 0px;
}

/* Estilo general de cajas */

.row {
  min-height: 30vh;
}
.start-box {
  border-radius: 3px;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.4);
  /* min-height: 40%; */
  /* margin-top: 20px; */
  padding: 15px;
  margin-bottom: 20px
}
.start-box h4 {
  color: white;
}
.start-box a,
.start-box a:hover {
  color: white;
}
.start-box label {
  color: white;
  font-size: 1em;
}

.start-box hr {
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
}

.box-table-container {
  max-height: 40vh;
  overflow: auto;
  margin-top: 10px;
  background-color: white;
  padding: 0px;
  font-size: 0.9em;
}

.table-striped-orange > tbody > tr:nth-child(2n + 1) > td {
  background-color: rgb(255, 210, 152);
}

/* #box-proyectos {
} */

#box-proyectos-thead {
  background-color: rgb(97, 78, 65);
  color: white;
}

/* Box usuario */
#box-usuario {
  background-color: #faf8eb;
}
#cont-usuario {
  display: flex;
}
#cont-data-usuario {
  width: 60%;
  color: rgb(35, 36, 37);
}
#cont-data-usuario li {
  font-size: 0.8em;
}
#cont-avatar img {
  width: 100%;
}

/* Links */
#body-tabla-proyectos a,
#body-tabla-rep-ac a {
  color: rgb(59, 126, 180);
  font-weight: bold;
}

/* ===== SOLO VERSION DE ESCRITORIO =====*/

@media only screen and (min-width: 720px) {
  .box-table-container {
    max-height: 50vh;
  }
}
