@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 3em;
  padding: 10px 0px;
}
h3 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(54, 176, 247);
}

h4 {
  font-size: 1.3em;
  color: rgb(33, 37, 41);
  padding: 10px 0px;
  font-weight: bold;
}
hr {
  opacity: 0.4;
}

label {
  color: rgb(64, 72, 94);
  font-size: 1.2em;
}

header {
  color: rgb(58, 113, 175);
}

section,
header {
  padding: 0px 10px;
  padding-top: 56px;
  background: white;
}

footer {
  background-color: rgb(33, 37, 41);
  padding: 20px;
  margin: 0;
}

footer a {
  color: white;
}

#main-container {
  padding-top: 56px;
  background-color: white;
  min-height: ;
}

.columna {
  padding: 0px 20px;
}

/* Botones*/
.custom-btn-dark-blue {
  padding: 10px;
  background-color: rgb(49, 55, 71);
  border-radius: 1px;
  color: rgb(238, 236, 236);
  border: none;
  margin: 10px 0;
  font-size: 1.2em;
}
/*- - - -  S E C C I O N E S - - - - */

#nav-planilla-ensayo .navbar-brand {
  color: rgb(248, 109, 16);
}

#nav-planilla-ensayo a {
  color: rgb(90, 159, 190);
}

/* Tabla de reactivos*/
#col-tabla-reactivos {
  padding: 0px 20px;
}

/* Journal (Registros del experimento) */
.timeStamp {
  color: rgb(58, 113, 175);
  font-weight: 400;
}
