@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: border-box;
}

body,
header,
#main-container {
  background-color: #faf8eb;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  padding: 10px 0px;
}

h3 {
  font-size: 1.2em;
  color: rgb(48, 143, 172);
}

h4 {
  font-size: 1.1em;
  color: rgb(33, 37, 41);
  padding: 10px 0px;
  font-weight: bold;
}

hr {
  opacity: 0.4;
}

label {
  color: rgb(64, 72, 94);
  font-size: 1em;
}

header h1 {
  color: rgb(58, 113, 175);
}

header p {
  color: rgb(93, 95, 97);
}

section,
header {
  padding: 0px 10px;
  padding-top: 56px;
}

footer {
  background-color: rgb(33, 37, 41);
  padding: 20px;
  margin: 0;
}

footer a {
  color: white;
}
footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
  font-size: 0.8em;
  padding: 10px;
}

#main-container {
  padding-top: 56px;
}

.columna {
  padding: 0px 20px;
}

/* NavBar */

.nav-round-btn-icon {
  vertical-align: middle;
  color: rgb(49, 95, 109);
}

#nav-sec-rep-editar {
  background-color: rgba(190, 186, 179, 0.7);
  margin-top: 55px;
  overflow-x: auto;
  padding: 5px;
}

#nav-sec-rep-editar .list-group-item {
  font-size: 1.5em;
  background: rgb(233, 230, 225);
  border: none;
  border-radius: 50%;
  height: 40px;
  margin: 2px 8px;
  box-shadow: 1px 2px 4px 1px rgba(3, 3, 3, 0.3);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  padding: 0;
  font-size: 1.55em;
}

#nav-sec-rep-editar .list-group-item:hover {
  background: rgb(255, 255, 255);
}
#nav-sec-rep-editar .list-group-item:active {
  background: rgb(248, 109, 16);
}

.nav-round-btn-container {
  margin: auto;
  padding: 2px;
}

/* Botones*/
.custom-btn-dark-blue {
  padding: 10px;
  background-color: rgb(49, 55, 71);
  border-radius: 1px;
  color: rgb(238, 236, 236);
  border: none;
  margin: 10px 0;
  font-size: 1.2em;
}
.btn-default {
  border: solid;
  border-width: 1px;
  background: white;
  border-color: rgba(49, 55, 71, 0.3);
}
/*- - - -  S E C C I O N E S - - - - */

#nav-planilla-ensayo .navbar-brand {
  color: rgb(248, 109, 16);
}

#nav-planilla-ensayo a {
  color: rgb(90, 159, 190);
}

/* Tabla de reactivos*/
#col-tabla-reactivos {
  padding: 0px 20px;
}

/* Journal (Registros del experimento) */
.timeStamp {
  color: rgb(58, 113, 175);
  font-weight: 400;
}

/*-----Scrollbar-----*/

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(49, 95, 109);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 143, 172);
}

/* Version de escritorio */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.3em;
  }
  label {
    font-size: 1.2em;
  }
}
